:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     }
body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
     }
 .btn-link {
         text-decoration: none;
         border-radius: 3px;
         width: 160px;
         text-align: center;
         padding: 10px;
         font-family: arial;
         font-size: 16px;
        font-weight: 700;
         text-transform: uppercase;
        background-color: red;
        color: white;
      }
 .btn-link:hover {
         box-shadow: 2px 2px 2px black;
        cursor:pointer;
    }